.register-form
{
width: 360px ;
padding: 8% 0 0;
margin:auto;
}
.form
{
  position: relative;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 50px;
  text-align: center;

}
body {
  background: #76b852;
}
.form input
{
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;

}
